*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contaner{
    background-color: aquamarine;
    padding: 50px;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.lightOf{
    padding: 40px;
    
}
.lightOf img{
    width: 190px;
    /* align-items: center;
    justify-content: center;
    justify-items: center; */
    
}
.btt{
    text-align: center;
    padding: 10px 30px 10px 30px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    
}
.btt:hover{
    background-color: rgb(251, 210, 157);
    font-weight: 660;
    font-size: 25px;
}